body {
    background-color:  #333333;
    color: white;
}

#navigation {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    border: 1px solid black;
    float: none;

    
}

#navigation li {
    display: inline-block;
    padding-right: 15px;

}
h1 {
    margin-top: 90px;
    }

    img {
        margin-left: -40px;
    }